
/* Style for the app goes here */

body {
  margin: 10px 50px;
}

.numberInput {
  width: 300px;
}

form {
  height: 100px;
}

form input, form button {
  float: left;
  margin: 12px ;
}

.circle {
  cursor: pointer;
  background-color: #1f4662;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.root {
  background-color: #1f4662;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #193549;
  padding: 5px 10px;
  font-family: monospace;
  color: #ffc600;
}

.pre {
  display: block;
  padding: 10px 30px;
  margin: 0;
  overflow: scroll
}